<% if player_signed_in? %>
<p>Welcome: <%= current_player.p_name %>
<%= link_to 'Home', root_path %>
<%= link_to 'Profile', player_path(current_player.id) %>
<%= link_to 'All Matches', matches_list_path %>
<%= link_to 'Sign out', destroy_player_session_path, data: { turbo_method: :delete } %>
<% else %>
<%= link_to 'Sign In', new_player_session_path %>
<%= link_to 'Sign Up', new_player_registration_path %>
<% end %>

<h1>Create Match</h1>
<%= form_with model: @match do |form| %>
    <%= form.label :player1, "Player 1: " %>
    <%= form.collection_select :player1, Player.order(:p_name), :id, :p_name %>
    <%= form.label :player2, "Player 2: " %>
    <%= form.collection_select :player2, Player.order(:p_name), :id, :p_name %>
    <%= form.hidden_field :player1_score, value: 0 %>
    <%= form.hidden_field :player2_score, value: 0 %>
    <%= form.submit "Create Match" %>
<% end %>

<% if player_signed_in? && current_player.admin == true %>
    <%= link_to 'Update Player', player_list_path() %><br>
    <%= link_to 'Update Match', matches_path() %><br>
    <%= link_to 'Create Match', new_match_path() %>
<% end %>